.footer {
  background-color: $primary-color;
  color: #fff;
  padding: 2.5rem;
  text-align: center;
  text-transform: uppercase;

  &__link {
    color: $secondary-color;
    font-weight: 600;
    color: $secondary-color;

  }

  
}
